name: approval 0

on:
  push:
    branches: [master]

jobs:
  job0:
    environment:
      name: approval
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - run: echo job0

  job1:
    needs: [job0]
    environment:
      name: approval
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - run: echo job1
