name: approval 1

on:
  workflow_run:
    workflows: ['approval 0']
    types: [completed]

jobs:
  approval-1:
    environment:
      name: approval

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5.0.1
        with:
          ref: ${{ github.event.workflow_run.head_branch }}
      - run: echo hello

